@import "tailwindcss";






@layer utilities {
   .font-anton {
    font-family: var(--font-anton);
  }

  .font-audiowide {
    font-family: var(--font-audiowide);
  }

  .font-nico {
    font-family: var(--font-nico-moji);
  }

  .font-ocr {
    font-family: var(--font-ocr-a);
  }
  .font-aubrey{
    font-family: var(--font-aubrey);
  }
}