@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
   .font-anton {
    font-family: var(--font-anton);
  }

  .font-audiowide {
    font-family: var(--font-audiowide);
  }

  .font-nico {
    font-family: var(--font-nico-moji);
  }

  .font-ocr {
    font-family: var(--font-ocr-a);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

